@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

h1 {
    
    color: #000000;
    font-size: 2.5rem;
    margin-bottom: 0;
}

h2{
    font-weight: 400;
    margin-bottom: 0;
    color: #242424;
}

p {
    margin: 0;
}
nav{    
    font: 1.2rem;
    padding: 20px;
    background-color:rgb(135, 71, 255);
    display: flex;
    justify-content: space-between;
}


span a{
    color: white;
    text-decoration: none;
}

main{
    margin: 0 auto;
    max-width: 80%;
}

.classes {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.class {
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    border: 0.2px solid rgb(218, 218, 218);
    border-radius: 10px;
    box-shadow: rgba(110, 110, 110, 0.2) 0px 7px 9px 0px;
    cursor: pointer;
}

.class:hover{
    background-color: #33333310;
    box-shadow: rgba(110, 110, 110, 0.2) 0px 9px 12px 0px;
}

.add{
    align-items: center;
    justify-content: center;
    color: #727272;
}

.popupbg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;             /* Full height */
    background-color: #00000048;
    justify-content: center;
}

.popupbg form
{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    border: 0.2px solid rgb(218, 218, 218);
    border-radius: 10px;
    box-shadow: rgba(110, 110, 110, 0.2) 0px 7px 9px 0px;
}


input
{
    padding: 5px 0;
    font-size: 1.2em;
    margin: 10px 0;
    min-height: 40px;
}
button{
    margin: 1em 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    padding: 0.7em 2em;
    background-color: rgb(135, 71, 255);
    border: none;
    box-shadow: 0 0.3em 0 rgb(88, 45, 168);
    border-radius: 1em;
   
}
button:hover{
    background-color: rgb(147, 89, 255);
    transition: ease-in 100ms;
}
button:active{
    border: none;
    box-shadow: none;
    transform: translateY(0.3em);
    transition: none;
}
/* div space for add student form (following the same styles) */
