<!DOCTYPE html>
<html lang="en">
<head>
    <title>French Intermediate</title>
    <link rel="stylesheet" href="page.css">
</head>
<body>
    <%- include('header'); %>

    <h1><%=name %></h1>

    <h2><%=level %></h2>

    <%- for(let i = 0; i < students.length; i++) { %>
        
</body>
</html>