<head>
    <link rel="stylesheet" href="page.css">
</head>
<body>
    <%- include('header'); %>
    <main>
        <h1>Welcome <%=name %></h1>

        <h2>Your classes</h2>

        <div class="classes">
                <div class="class">
                    <h3>French</h3>
                    <p>Level: Intermediate</p>
                    <p>Students: 10</p>
                </div>
                
                <div class="class">
                    <h3>Math</h3>
                    <p>Level: Basic</p>
                    <p>Students: 11</p>
                </div>
            </a>
        </div>
    </main>
   


</body>