<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link rel="stylesheet" href="style.css" /> 
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet"/>

        <title>ClassRoom</title>
    </head>


    <body>

        <header>

            <nav class="navbar navbar-expand-md navbar-dark bg-primary" style="background-color:rgb(196, 176, 233)">
                <a class="navbar-brand" href="/intro">ClassRoom</a>
                <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
    
                <nav class="collapse navbar-collapse" id="navbarSupportedContent">
    
                    <div class="mr-auto">
                    </div>
    
                    <div class="navbar-nav navbar-right">
                        <a class="nav-item nav-link" href="/login" style="color: white">Login</a>
                        <a class="nav-item nav-link" href="/signup" style="color: white">Sign Up</a>
                    </div>
    
    
    
                </nav>
    
            </nav>
    
        </header>
        
        <h1 class="jumbotron" style="background-color:azure">What is ClassRoom ?</h1>
        
        <main class="container-fluid">

            <div class="row">
                
                <div class="col-md-4 col-sm-6">

                    <p>
                        ClassRoom is a website designed for teachers to keep records for each of their class
                        which includes:
                    </p>

                    <ul>
                        <li>Student List</li>
                        <li>Attendance</li>
                        <li>Lesson plans</li>
                        <li>Grades for assignments or exams</li>
                    </ul>

                </div>

                <div class="col-md-4 col-sm-6">
                    <p>Technologies used: </p>

                    <ul>
                        <li>Node.js</li>
                        <li>Express Framework for client-side and server-side scripting</li>
                        <li>MongoDb</li>
                        <li>Bootstrap for front-end development</li>
                    </ul>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <p>Want to know more about us:</p>

                    <a class=" btn btn-primary" href="/troll" >Click here</a>

                </div>

            
            </div>

            

                
                
           

                
               
            
             

        </main>
        

        
            
        


    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>