<html>
    <head>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js">
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        
        <title>TeachAssist</title>
    </head>


    <header>
        
    </header>

    <body>

    </body>
</html>