<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link rel="stylesheet" href="style.css" /> 
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet"/>

        <title>ClassRoom</title>
    </head>

    <header>

        <nav class="navbar navbar-expand-md navbar-light" style="background-color:rgb(196, 176, 233)">
            <a class="navbar-brand" href="/intro">ClassRoom</a>
            <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

            <nav class="collapse navbar-collapse" id="navbarSupportedContent">

                <div class="mr-auto">
                </div>

                <div class="navbar-nav navbar-right">
                    <a class="nav-item nav-link" href="/login">Login</a>
                    <a class="nav-item nav-link" href="/signup">Sign Up</a>
                </div>



            </nav>

        </nav>

    </header>

    <body>
        
        <h1 class="jumbotron">What is ClassRoom ?</h1>

        <div class="container container-fluid"> 
            
        </div>


    </body>


</html>