<body>
    <form method="POST">
        <div class="eh">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">

        </div>
        <div class="eh">
            <button type="submit">Submit</button>
        </div>
       
    </form>

</body>