<head>
    <link rel="stylesheet" href="auth.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
    <form method="POST" action="/login">
        <fieldset class="eh">
            <legend class = "loginTitle">Log In</legend>
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">

        </fieldset>

        <div>
            <p>Don't have an account ? </p><a href = "/signup">Sign up here !</a>
        </div>

        <div class = "error">
            
            <% 
                if (typeof message !== "undefined")
                {
                    %>

                        <p> <%= message %> </p>
                    
                    <%    
                }
            %> 

        </div>
  
        <button type="submit">Submit</button>
       
    </form>

</body>