<head>
    <link rel="stylesheet" href="auth.css">
</head>

<body>
    <form method="POST" action="/login">
        <fieldset class="eh">
            <legend class = "loginTitle">Login</legend>
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">

        </fieldset>

        <div>
            <p>Don't have an account ? </p><a href = "/signup">Sign up here !</a>
        </div>
  
        <button type="submit">Submit</button>
       
    </form>

</body>