<head>
    <link rel="stylesheet" href="style.css">
</head>

<!-- Zuhair was here-->
    <body>
        <form method="POST">
            <fielset class="eh">

                <legend class = "signupTitle">Sign Up</legend>

                <label for = "firstname">First Name: </label>
                <input type = "text" name = "firstname">

                <label for = "lastname">Last Name: </label>
                <input type = "text" name = "lastname">

                <label for = "Email">Email: </label>
                <input type = "email" name = "Email">
                
                <label for = "Password">Password: </label>
                <input type = "password" name = "Password">

                <label for = "passwordConfirm">Confirm Password: </label>
                <input type = "password" name = "passwordConfirm">                
            </fielset>

            <button type = "submit">Submit</button>


        </form>
    </body>
