<head>
    <link rel="stylesheet" href="auth.css">
</head>

<!-- Zuhair was here-->




    <body>

        <form method="POST">

            <fieldset class="eh">

                <legend class = "signupTitle">Sign Up</legend>

                <label for = "firstname">First Name: </label>
                <input type = "text" name = "firstname">

                <label for = "lastname">Last Name: </label>
                <input type = "text" name = "lastname">

                <label for = "email">Email: </label>
                <input type = "email" name = "email">
                
                <label for = "password">Password: </label>
                <input type = "text" name = "password" id = "password">

                <label for = "passwordConfirm">Confirm Password: </label>
                <input type = "text" name = "passwordConfirm" id = "password2">
                            
            </fieldset>

            <button type = "submit" name = "submit" id = "submitButton">Submit</button>

            <p id = "error"></p>

            <script>
                var button = document.getElementById("submitButton");
                var password = document.getElementById("password").innerHTML;
                var password2 = document.getElementById("password2").innerHTML;

                if (password !== password2)
                {
                    button.disabled = true;
                }

                else
                {
                    button.disabled = false;
                }
            
            </script>

        </form>


        

        

    </body>

    
