
<head>
    <script src = "https://code.jquery.com/jquery-3.5.0.js"></script>
</head>


<body>
    <form>
        <fieldset>

            <legend><b>Lesson</b></legend>

            <div class = "styles">
                <label for = "class">Class: </label>
                <input type = "text" name = "class">
            </div>

            <div class = "styles">
                <label for = "teacher">Teacher: </label>
                <input type = "text" name = "teacher">
            </div>

            <div class = "styles">
                <label for = "lesson">Lesson / Chapter: </label>
                <input type = "text" name = "lesson">
            </div>

            <div class = "styles">
                <label for = "date">Date: </label>
                <input type = "date" name = "date">
            </div>

            
            <div id = "STUDENTS">
                <label for = "student">Students: </label>
                <input type = "text" name = "student">
                <button id = "addition">Add Student</button>
                
                <script>
                
                    var adds = $("#addition");
                    var students = $("#STUDENTS");

                
                    $(adds).click((e) => {
                        e.preventDefault();
                        $(students).append('<input type = "text" name = "student">');
                    });

                </script>
                
                 
               
         
            </div>


            
            

        </fieldset>
    </form>
</body>

